{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "prettier"],
  "plugins": ["prettier", "react"],
  "rules": {
    "max-len": ["error", 120, 4],
    "camelcase": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "promise/param-names": "off",
    "prefer-promise-reject-errors": "off",
    "no-control-regex": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf",
        "trailingComma": "es5",
        "tabWidth": 2,
        "singleQuote": true,
        "semi": true
      }
    ]
  }
}
