.header {
  margin-bottom: 1.45rem;
}

.headerWrap {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row;
}

.image {
  max-height: 50px;
  padding-right: 10px;
}
