.navbar {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  color: #387ebd;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.activeLink {
  color: #000;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
