@charset "utf-8";

// import font from google
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// set font
$family-sans-serif: 'Roboto';
$family-monospace: 'normal';

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 450;
$weight-semibold: 500;
$weight-bold: 600;

// Set your brand colors
$blue: #006bd9;
$darkblue: #003162;
$darkbrown: #463232;
$darkbrownOpacity: rgba(70, 50, 50, 0.5);
$black: #000000;
$white: #ffffff;
$whiteTransparent: rgba(255, 255, 255, 0.5);

// adjust navbar styling
$navbar-background-color: $blue;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $whiteTransparent;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: $whiteTransparent;
$navbar-height: 6rem;

// adjust sizing
$fullhd-enabled: false;
$widescreen-enabled: false;

// Import only what you need from Bulma
// Utilities
@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
@import 'node_modules/bulma/sass/utilities/functions.sass';
@import 'node_modules/bulma/sass/utilities/derived-variables.sass';
@import 'node_modules/bulma/sass/utilities/mixins.sass';
@import 'node_modules/bulma/sass/utilities/controls.sass';
// base
@import 'node_modules/bulma/sass/base/_all.sass';
// components
@import 'node_modules/bulma/sass/components/card.sass';
@import 'node_modules/bulma/sass/components/media.sass';
@import 'node_modules/bulma/sass/components/navbar.sass';
@import 'node_modules/bulma/sass/components/pagination.sass';
@import 'node_modules/bulma/sass/components/tabs.sass';
// elements
@import 'node_modules/bulma/sass/elements/box.sass';
@import 'node_modules/bulma/sass/elements/button.sass';
@import 'node_modules/bulma/sass/elements/container.sass';
@import 'node_modules/bulma/sass/elements/content.sass';
// @import "icon.sass"
@import 'node_modules/bulma/sass/elements/image.sass';
@import 'node_modules/bulma/sass/elements/table.sass';
@import 'node_modules/bulma/sass/elements/tag.sass';
@import 'node_modules/bulma/sass/elements/title.sass';
// form
@import 'node_modules/bulma/sass/form/shared.sass';
@import 'node_modules/bulma/sass/form/input-textarea.sass';
// grid
@import 'node_modules/bulma/sass/grid/columns.sass';
@import 'node_modules/bulma/sass/grid/tiles.sass';
// layout
@import 'node_modules/bulma/sass/layout/_all.sass';

// navbar tweaking
.navbar-start {
  margin-left: auto;
  margin-right: initial;
}

.navbar-item {
  font-weight: 500;
  opacity: 0.5;
  background-color: transparent !important;

  &.no-opacity {
    opacity: 1;
  }

  &.is-active {
    opacity: 1;
  }

  .button {
    font-weight: 500;
    color: $white;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.dice-nav-logo {
  max-height: 50px;
  width: 150px;
  height: 100px;

  path {
    fill: #ffffff;
  }
}

// button tweaking
.button {
  font-weight: 500;
}

.action-button {
  padding-left: 70px;
  padding-right: 70px;
  height: 50px;
}

// hero adjustments
.hero-text {
  margin-bottom: 1.5em !important;
}

.hero-row {
  background-color: $white;
}

.external-link {
  display: inline-flex;
  align-items: center;

  .icon {
    color: rgba($color: #000000, $alpha: 0.3);
    margin-left: 5px;
  }
}

// main page side-menu

.sidemenu {
  align-items: center;
  height: 32px;

  .is-current {
    opacity: 1;
  }
  .is-not-current {
    opacity: 0.2;
  }
}

#about {
  padding-top: 3em;
  padding-bottom: 3em;
}

// main page links
.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  @include mobile {
    flex-direction: column;
  }

  .title {
    flex: 1;
    margin-bottom: 0;
  }

  .link-more {
    font-weight: 500;

    @include mobile {
      padding-top: 1em;
    }
  }
}

// hero block background
#about {
  background-image: url('/background.svg');
}

// projects styling
.active-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  height: 400px;
  padding-top: 10px;

  .project-image {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
  }

  .title {
    color: $darkbrown;
  }

  .separator {
    flex: 1;
  }

  .link {
    margin-bottom: 20px;
  }
}

.project-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 5px;

  &.project-rounded {
    border-radius: 10px;
  }
}

.projects {
  .project-full-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 400px;
    margin-bottom: 64px;
    padding: 15px;
    cursor: inherit;

    .project-image {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      max-height: 200px;
      max-width: 200px;
    }

    .tagline {
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .button {
        padding: 14px 70px;
        height: 50px;
        border-width: 2px;
      }
    }
  }

  .project-description {
    margin-bottom: 64px;
  }

  .project-extended-info {
    margin-bottom: 88px !important;

    h6 {
      margin-bottom: 6px;
      font-weight: 600;
    }

    .staff-list {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 12px;
      }
    }
  }

  .horizontal-separator {
    width: 100%;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    margin-bottom: 40px;
  }

  .see-also {
    h2 {
      margin-bottom: 35px;
    }
  }
}

// funded by items
.funded-by-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

// contact section
.contact-section {
  padding: 40px;
  background-color: $white;

  .input {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1.2em;
  }
}

// footer customization
.footer {
  background-color: $darkblue;

  .social {
    position: inherit !important;
    justify-content: flex-end !important;
    max-width: inherit !important;
    height: auto !important;

    @include mobile {
      justify-content: flex-start !important;
    }
  }

  .horizontal-separator {
    opacity: 0.5;
    border-bottom: 1px solid #ffffff;
    width: 100%;
  }
}

.dice-footer {
  display: flex;
  flex: 3;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;

  @include mobile {
    max-height: fit-content;
  }

  a {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: $white;
  }
}

.footer {
  .social {
    flex-direction: row !important;
    align-items: flex-start !important;

    a {
      color: $white;
      margin-right: 20px;
    }
  }
}

.has-content-centered {
  align-items: center;
  justify-content: center;
}
.vertically-centered {
  align-items: center;
}
.horizontally-centered {
  justify-content: center;
}

// custom tabs for subnav
.tabs {
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 0.7em;

  ul {
    border-bottom: none;
  }

  li {
    &.is-active {
      border-bottom: solid 3px #006bd9;
    }
  }

  a {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
}

// papers formatting
.paper {
  margin-bottom: 2.5em;

  .text {
    margin-bottom: 0.25em !important;
  }
  .name {
    margin-top: 0 !important;
    margin-bottom: 0.3em !important;
    color: $black;
    font-weight: 500;

    a {
      color: $blue;
    }
  }
  .meta {
    color: $darkbrownOpacity;
    margin-bottom: 0 !important;

    .bib-link {
      display: none;
      color: $blue;
    }
  }
  &:hover {
    .meta {
      .bib-link {
        display: inline;
      }
    }
  }
}

.papers-filter {
  height: 60px;
  margin-bottom: 1em;
}

.facets {
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }

  .tags {
    display: flex;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .is-facet {
    color: $white;
    background-color: $blue;
  }

  .is-delete:hover {
    background-color: $darkblue !important;
    color: $white;
  }
}

.papers-facets {
  &.tabs {
    border-bottom: none;
  }

  .icon {
    color: $blue;
  }

  ul {
    margin: 0;

    li {
      a {
        border-bottom: none;

        @include mobile {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}

.papers-facets {
  margin-top: 1em;
  margin-bottom: 2em;

  &.centered {
    display: flex;
    justify-content: center;
  }

  .facet {
    cursor: pointer;
    margin-bottom: 0.75em;
    display: flex;

    .facet-text {
      display: flex;
      flex: 1;
      white-space: normal;
    }
  }

  p {
    margin-bottom: 0.75em;
  }
  .count {
    opacity: 0.5;
    display: inline-flex;
  }

  .filter-dropdown {
    min-width: 200px;
    max-width: 380px;
    min-height: 300px;
    max-height: 600px;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 16px;
    overflow: auto;

    @include mobile {
      left: 10px;
    }

    .facet-group {
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      padding-left: 10px;
      flex: 1;
    }
  }
}

// awards

.award {
  .year {
    color: $darkbrownOpacity;
    margin-bottom: 5px !important;
  }

  .ext-icon {
    // color: $blue;
    width: 0.75em;
    height: 0.75em;
  }

  .name {
    margin-bottom: 5px;
  }

  .description {
    color: $darkbrown;
    margin-bottom: 5px !important;
  }

  .awardee {
    &:after {
      content: ', ';
    }

    &:last-child::after {
      content: '';
    }
  }
}

// teaching formatting
.teaching {
  h1,
  h2,
  h3,
  .term {
    color: $black;
  }

  .term {
    margin-top: 1em;
  }

  .years {
    margin-top: 1.25em;
  }

  .kind {
    margin-top: 1.25em;
    font-weight: 500;
    color: $darkbrown;
  }

  .course {
    margin-top: 0.25em;

    .kind-label {
      margin: 0 10px 0 10px;
    }
  }
}

.teaching-page {
  h1,
  h2,
  h3,
  .term {
    color: $black;
  }

  line-height: 2.1em;

  .title {
    margin-top: 0.5em !important;
    margin-bottom: 0.25em !important;
  }

  h1 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }

  ol {
    list-style: none !important;
    counter-reset: my-awesome-counter;

    @include mobile {
      margin-left: 1em;
      margin-top: 0.5em;
    }

    li {
      margin-left: 40px;
      counter-increment: my-awesome-counter;

      @include mobile {
        margin-left: 20px;
      }

      &::before {
        margin-left: -40px;
        margin-right: 20px;
        content: counter(my-awesome-counter) '. ';
        color: rgba($color: #000000, $alpha: 0.5);

        @include mobile {
          margin-left: -32px;
          margin-right: 10px;
        }
      }
    }
  }
}

.mentoring {
  h1 {
    margin-top: 0 !important;
  }
}

.theses {
  h1,
  h2,
  h3,
  .kind {
    color: $black;
  }

  .kind {
    margin-top: 1.25em;
    display: flex;
    flex-direction: column;

    a {
      padding-top: 6px;
    }
  }
}

.thesis-page {
  h1,
  h2,
  h3,
  .term {
    color: $black;
  }

  .type {
    margin-bottom: 20px;
  }

  h1 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }

  .contact-info {
    margin-top: 64px;
    margin-bottom: 88px !important;

    h6 {
      margin-bottom: 6px;
      font-weight: 600;
    }
  }
}

// demos
.demos-page {
  h1 {
    color: $black;
  }
}

.demo {
  .project-extended-info {
    margin-top: 64px;
  }
}

// partners
.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  padding-top: 10px;
  cursor: pointer;

  .project-image {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150px;
    min-height: 150px;
    max-width: 150px;
  }

  .name {
    color: $blue;
    text-align: center;
    margin-top: 10px;
  }
}

// team
.team {
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  padding-top: 10px;
  cursor: pointer;

  .person-image {
    flex: 3;
    max-height: 160px;
    min-height: 160px;
    max-width: 160px;
    border-radius: 80px;
    overflow: hidden;
  }

  a {
    margin-top: 10px;
    text-align: center;
  }
}

.person-page {
  .is-flex-vertical {
    flex-direction: column;
    flex: 1;
  }

  .person-info {
    flex-direction: row;

    @include mobile {
      flex-direction: column;
      align-items: center;

      h2 {
        text-align: center;
      }
    }
  }

  .person-image {
    max-height: 300px;
    min-height: 300px;
    max-width: 300px;
    border-radius: 150px;
    overflow: hidden;
    margin-right: 3em;

    @include mobile {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  .role {
    color: $darkbrownOpacity;
  }

  .meta {
    margin-bottom: 0.75em;

    .meta-label {
      color: $black;
      flex: 1;
    }

    .meta-value {
      flex: 2;
    }
  }

  .person-content {
    margin-top: 2em;
  }

  .projects {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 0.25em;
    }
  }
}

// markdown render style
.markdown-page {
  color: $black;

  .header-link {
    color: inherit;
  }

  .key-val {
    flex-direction: column;

    .key-row {
      margin-bottom: 0.5em;
    }

    .key {
      flex: 1;
    }

    .val {
      flex: 3;
    }
  }

  ol {
    list-style: none !important;
    counter-reset: my-awesome-counter;

    @include mobile {
      margin-left: 1em;
      margin-top: 0.5em;
    }

    li {
      margin-left: 40px;
      counter-increment: my-awesome-counter;

      @include mobile {
        margin-left: 20px;
      }

      &::before {
        margin-left: -42px;
        margin-right: 20px;
        content: counter(my-awesome-counter) '. ';
        color: rgba($color: #000000, $alpha: 0.5);

        @include mobile {
          margin-left: -32px;
          margin-right: 10px;
        }
      }
    }
  }
}

// our custom classes
.content {
  .brand-color {
    color: $blue;
  }
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

.people-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none !important;
  margin-left: 0 !important;
  margin-top: 0 !important;

  li:first-child a {
    padding-left: 0;
  }

  li + li {
    margin-top: 0;
  }
  li + li::before {
    color: #b5b5b5;
    content: '|';
  }

  li a {
    align-items: center;
    color: #3273dc;
    padding: 0 0.75em;
  }

  li span {
    align-items: center;
    padding: 0 0.75em;
  }
}

.gatsby-image {
  overflow: hidden;
  border-radius: 10px;
}

.data-column {
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5px 0 5px;

  &.data-header {
    font-weight: 500;
  }

  div {
    padding-bottom: 0.75em;
  }
}
