@charset "utf-8";

// import font from google
@import url('https://fonts.googleapis.com/css?family=Roboto');

// set font
$family-sans-serif: 'Roboto';
$family-monospace: 'normal';

// Set your brand colors
$blue: #006bd9;
$darkblue: #003162;
$black: #000000;
$white: #ffffff;
$whiteTransparent: rgba(255, 255, 255, 0.5);

// adjust navbar styling
$navbar-background-color: $blue;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $whiteTransparent;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: $whiteTransparent;
$navbar-height: 6rem;

// adjust sizing
$fullhd-enabled: false;
$widescreen-enabled: false;

// Import only what you need from Bulma
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/components/_all.sass';
@import 'node_modules/bulma/sass/elements/_all.sass';
@import 'node_modules/bulma/sass/form/_all.sass';
@import 'node_modules/bulma/sass/grid/_all.sass';
@import 'node_modules/bulma/sass/layout/_all.sass';

// navbar tweaking
.navbar-start {
  margin-left: auto;
  margin-right: initial;
}

.navbar-item {
  font-weight: 500;
  font-size: 20px;

  .button {
    font-weight: 500;
    font-size: 20px;
    color: $white;
    background-color: $whiteTransparent;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.dice-nav-logo {
  max-height: 50px;
  width: 150px;
  height: 100px;

  path {
    fill: #ffffff;
  }
}

// button tweaking
.button {
  font-weight: 500;
}

.action-button {
  padding-left: 100px;
  padding-right: 100px;
  height: 60px;
  font-size: 20px;
}

// hero adjustments
.hero-text {
  font-size: 1.2em;
  margin-bottom: 1.5em !important;
}

.hero-row {
  background-color: $white;
}

// main page links
.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  @include mobile {
    flex-direction: column;
  }

  .title {
    flex: 1;
    margin-bottom: 0;
  }

  .link-more {
    font-size: 1.2em;
    font-weight: 600;

    @include mobile {
      padding-top: 1em;
    }
  }
}

// active project card styling
.active-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  height: 400px;

  .project-image {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    color: $blue;
    font-size: 1.5em;
  }

  .separator {
    flex: 1;
  }

  .link {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

// funded by items
.funded-by-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

// contact section
.contact-section {
  padding: 40px;
  background-color: $white;

  .input {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
}

// footer customization
.footer {
  background-color: $darkblue;

  .social {
    position: inherit !important;
    justify-content: flex-end !important;
    max-width: inherit !important;
    height: auto !important;

    @include mobile {
      justify-content: flex-start !important;
    }
  }
}

.dice-footer {
  display: flex;
  flex: 3;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;

  a {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: $white;
  }
}

.footer {
  .social {
    flex-direction: row !important;
    align-items: flex-start !important;

    a {
      color: $white;
    }
  }
}

.has-content-centered {
  align-items: center;
  justify-content: center;
}
.vertically-centered {
  align-items: center;
}
.horizontally-centered {
  justify-content: center;
}

// custom tabs for subnav
.tabs {
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 0.7em;

  ul {
    border-bottom: none;
  }

  li {
    font-size: 1.2em;
    &.is-active {
      border-bottom: solid 3px #006bd9;
    }
  }

  a {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
}

// our custom classes
.content {
  .brand-color {
    color: $blue;
  }
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

.news-thumbnail {
  display: inline-block;
  width: 400px;
  height: 400px;
  float: right;
  padding: 20px;
}

.people-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none !important;
  margin-left: 0 !important;
  margin-top: 0 !important;

  li:first-child a {
    padding-left: 0;
  }

  li + li {
    margin-top: 0;
  }
  li + li::before {
    color: #b5b5b5;
    content: '|';
  }

  li a {
    align-items: center;
    color: #3273dc;
    padding: 0 0.75em;
  }

  li span {
    align-items: center;
    padding: 0 0.75em;
  }
}

.gatsby-image {
  overflow: hidden;
  border-radius: 10px;
}

.data-column {
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5px 0 5px;

  &.data-header {
    font-weight: bold;
  }

  div {
    padding-bottom: 0.75em;
  }
}
